link(rel="stylesheet", href="css/style-quiz.css")
div.container
    div.center
        div.card.border-quiz
            h1 The Number Quiz
            p Your current score is 
                strong= score
            p You have completed the Number Quiz with a score of 
                strong=score 
                span  out of 
                strong=numberOfQuestions